<%= form_with(model: appointment, local: true) do |form| %>
  <% if appointment.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(appointment.errors.count, "error") %> prohibited this appointment from being saved:</h2>

      <ul>
      <% appointment.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="mb-3">
    <%= form.label "Mascota", class: "form-label" %>
    <%= select_tag :pet_id, options_from_collection_for_select(@pets, "id", "name"), class: "form-control" %>
  </div>

  <div class="mb-3">
    <%= form.label "Veterinario", class: "form-label" %>
    <%= select_tag :user_id, options_from_collection_for_select(@vets, "id", "email"), class: "form-control" %>
  </div>

  <div class="mb-3">
    <%= form.label "Fecha de atención", class: "form-label" %>
    <%= form.date_field :date, class: "form-control" %>
  </div>

  <%= form.submit "Submit", class: "btn btn-primary" %>

<% end %>
