<p id="notice"><%= notice %></p>

<div class="text-center">
  <h1>Mis horas médicas</h1>

  <% if current_user.role == "client" %>
    <p><%= link_to 'Registrar nueva hora', new_appointment_path %></p>
  <% end %>
</div>

<% if current_user.role == "client" %>
<div class="py-5">
  <table class="table">
    <thead>
      <th scope="col">Nombre de mascota</th>
      <th scope="col">Fecha de atención</th>
      <th scope="col">Veterinario</th>
      <th scope="col">Estado</th>
      <th colspan="2"></th>
    </thead>

    <tbody>
    <% @pets.each do |pet| %>
      <% pet.appointments.each do |appointment| %>
        <tr>
          <td><%= appointment.pet.name %></td>
          <td><%= appointment.date.strftime("%d-%m-%Y") %></td>
          <td><%= appointment.user.email %></td>
          <td>
            <% if appointment.is_active %>
            Terminada
            <% else %>
            Pendiente
            <% end %>
          </td>
          <td><% if appointment.is_active %><%= link_to 'Detalle', appointment %><% end %></td>
          <td><%= link_to 'Cancelar', appointment, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
        <% end %>
      <% end %>
    </tbody>
  </table>
</div>

<% else %>

<div class="py-5">
  <table class="table">
    <thead>
      <th scope="col">Nombre de mascota</th>
      <th scope="col">Cliente</th>
      <th scope="col">Estado</th>
      <th scope="col">Descripción</th>
      <th colspan="1"></th>
    </thead>

    <tbody>
      <% @appointments.each do |appointment| %>
        <tr>
          <td><%= appointment.pet.name %></td>
          <td><%= appointment.pet.user.email %></td>
          <td>
          <% if appointment.is_active %>
          Terminada
          <% else %>
          Pendiente
          <% end %>
          </td>
          <td><%= appointment.description %></td>
          <td><%= link_to 'Editar hora', edit_appointment_path(appointment) %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

<% end %>