<p id="notice"><%= notice %></p>

<div class="text-center">
  <h1>Mis horas médicas</h1>
  <p><%= link_to 'Registrar nueva hora', new_appointment_path %></p>
</div>

<div class="py-5">
  <table class="table">
    <thead>
      <th scope="col">Nombre de mascota</th>
      <th scope="col">Fecha de atención</th>
      <th scope="col">Descripción</th>
      <th scope="col">Activa</th>
      <th colspan="3"></th>
    </thead>

    <tbody>
      <% @appointments.each do |appointment| %>
        <tr>
          <td><%= appointment.pet.name %></td>
          <td><%= appointment.date %></td>
          <td><%= appointment.description %></td>
          <td><%= appointment.is_active %></td>
          <td><%= link_to 'Show', appointment %></td>
          <td><%= link_to 'Edit', edit_appointment_path(appointment) %></td>
          <td><%= link_to 'Destroy', appointment, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
